* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import './utils/variables' ;

@import './views/index' ;

@import './views/contacto' ;

@import './views/servicios' ;

@import './views/shows' ;

@import './views/sobremi' ;

@import './utils/footer' ;

@import './utils/headernav' ;

@import './views/galeria'

@media (min-width: 576px) {

    .iconos:hover {
        height: 30px;
        background-position: center;
        margin: 5px;
        transform: scale(1.5);
    }
    

    .tamanofoto {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }

    .video {
        height: 400px;
        justify-self: center;
        margin: 20px;
    }

    
    .sobremi {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }
    

    .shows {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }
    
    .servicios {
        height: 600px;
        justify-self: center;
        margin: 20px;
        width: auto;
    }
   
}
