header nav div ul li a:hover {
    background-color: grey;
    color: black;
    border-radius: 3px;
}

header nav div ul li a:active {
    background-color: grey;
    color: black;
    border-radius: 20px;
}