/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/

/*
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*/

/*
main div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

*/

/*
header nav div ul li a:hover {
    background-color: grey;
    color: black;
    border-radius: 3px;
}

header nav div ul li a:active {
    background-color: grey;
    color: black;
    border-radius: 20px;
}
*/

/*
footer section {
    display: flex;
    justify-content: right;
    margin: 20px;
    
}

.iconos {
    height: 20px;
    background-position: center;
    margin: 5px;
}

*/

/*
main section {
    display: grid;
    justify-content: center;
}

main p {
    margin-top: 30px;
}
*/

/*
.text::first-letter {
    font-weight: bold;
    font-size: 25px;

}
*/

/*
.tamanofoto {
    height: 250px;
    justify-self: center;
    margin: 20px;
    width: 100%;
}

.video {
    height: 300px;
    justify-self: center;
    margin: 20px;
    width: 100%;
}

*/


/*
.sobremi {
    height: 200px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
*/
/*
.shows {
    height: 250px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
*/

/*
.servicios {
    height: 350px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}
*/

/*
main form {
    display: grid;
    justify-content: start;
    margin: 30px;
    background-color: lightgray;
    width: fit-content;
}

main form label {
    margin: 10px;
}

main form input {
    margin: 10px;
}

*/

/*

@media (min-width: 576px) {

    .iconos:hover {
        height: 30px;
        background-position: center;
        margin: 5px;
        transform: scale(1.5);
    }
    

    .tamanofoto {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }

    .video {
        height: 400px;
        justify-self: center;
        margin: 20px;
    }

    
    .sobremi {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }
    

    .shows {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }
    
    .servicios {
        height: 600px;
        justify-self: center;
        margin: 20px;
        width: auto;
    }
   
}

*/