* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 40px;
}

header nav ul {
    display: none;
}


header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
    color: white;
}

header nav ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
}

header nav ul li a:active {
    background-color: white;
    color: black;
    border-radius: 3px;
}


main div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

footer section {
    display: flex;
    justify-content: right;
    margin: 20px;
    
}

.iconos {
    height: 20px;
    background-position: center;
    margin: 5px;
}

main section {
    display: grid;
    justify-content: center;
}

.text::first-letter {
    font-weight: bold;
    font-size: 25px;

}

.tamanofoto {
    height: 250px;
    justify-self: center;
    margin: 20px;
    width: 100%;
}

.video {
    height: 300px;
    justify-self: center;
    margin: 20px;
    width: 100%;
}

.sobremi {
    height: 200px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.shows {
    height: 250px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}

.servicios {
    height: 350px;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
}




@media (min-width: 576px) {
    header nav ul {
        display: flex;
        list-style-type: none;
    }

    header nav span {
        display: none;
    }

    .iconos {
        height: 30px;
        background-position: center;
        margin: 5px;
    }

    .tamanofoto {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }

    .video {
        height: 400px;
        justify-self: center;
        margin: 20px;
    }

    .sobremi {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }

    .shows {
        height: 400px;
        width: auto;
        justify-self: center;
        margin: 20px;
    }
    
    .servicios {
        height: 600px;
        justify-self: center;
        margin: 20px;
        width: auto;
    }
   
}